@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

.Container {
  color: #dcdde1;
  padding: 0 2.5rem;
}

.Container .Intro {
  font-family: "Raleway", sans-serif;
  color: #f5f6fa;
  text-align: left;
  font-size: 1.375rem;
  animation: introFade ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes introFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Container .Name {
  text-align: left;
  font-size: 9rem;
  margin-top: 0;
  margin-bottom: 4.59375rem 0 0;
  font-family: "Yellowtail", cursive;
  color: #ff9aa2;
  letter-spacing: 7px;
  margin: 0;
  animation: nameFade ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes nameFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes nameFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Container .AboutMe {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9375rem;
  text-align: left;
  font-weight: bold;
  line-height: 2.0625rem;
  animation: aboutMeFade ease 2.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes aboutMeFade {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes aboutMeFade {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Container .AboutMe span {
  color: #fbc687;
}
